    table, th, td {
    border: 1px solid black;
    height:50px;
    text-align:center;
    padding:0;
    }
    table{
        margin: 5%;
        margin-top: 1%;
        border-collapse: collapse; 
        border-spacing: 0;
    }
    .heure{
        height: 100%;
        border-collapse: collapse; 
        border-spacing: 0;
        z-index:0;
        font-size: 30px;
    }
    #addLigne{
        margin-top:70px;
        margin-left:5%;
    }
    #trash{
        position: fixed;
        right: 10%;
        top:110px;
        height:100px;
        width:100px;
    }
    .ui-droppable{
        background-color: inherit;

    }
    .ui-draggable{
        background-color: inherit;

    }
    .form-group {
        min-height: 80px;
    }
    .modal-body {
        min-height: 300px;
    }